<footer class="footer">
  <nav>
    <div class="right-footer" %>
    </div>
    <div class="left-footer" %>
      <ul id="choose-language-button">
        <li><%= link_to t(".english"), locale:"en" %></li>
        <li><%= link_to t(".vietnamese"), locale:"vi" %></li>
      </ul>
    </div>
  </nav>
</footer>
